* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #e4e5e7;

}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

header {
	height: 100px;
	background-color: white;
}

.maincontent {
	height: 1200px;
	background-color: #e4e5e7;

}

footer {
	height: 180px;
	border: 1px solid #222328;
	background-color: #222328;
}

.leftcolumn {
	float: left;
	margin-top: 5px;
}

.leftcolumn a img {
	margin: 0px 0 0 -50px;
}

.leftcolumn img {
	margin: 5px 0 0 50px ;
}


.mainmenu {
	text-align: center;
	display: inline-block;

}
.mainmenu ul li {
	display: inline;
	line-height: 50px;
	padding: 0 5px 5px ;
	font-family: Georgia;
}

.mainmenu ul {
	overflow: hidden;
	margin: 2px 0 0 100px;
}

.rightcolumn {
	float: right;
	line-height: 30px;
}

.rightcolumn img {
	margin: 20px 10px 0 0px;
}
.rightcolumn a {
	margin: 10px 0 0 30px;
	padding: 3px 10px 3px 10px; 
	text-decoration: none;
	color: #000000;
	border: 1px solid aqua;
	border-radius: 10px;
}

.rightcolumn span {
}

.lowmenu ul li {
	display: inline;
	padding: 0 10px 0 10px;
	font-family: Helvetica;
	font-size: 14px;
}

.lowmenu ul  {
	margin: 20px 0 0 -90px;
	display: inline-block;
}

.lowmenu a {
	margin: 20px 0px 0px 250px;
	text-decoration: none;
	color: grey;
}
.lowmenu img {
	margin: 20px 0px 0px 25px;
}

.lowmenu form {
	margin: 20px 0px 0px 5px;
}
.lowmenu form {
	float: right;
}



.content img {
	float: left;
	margin: 0px 0 0 -50px ;
}

.content ul li {
	display: inline-block;
	margin: 0 10px 0 10px;
}

.content ul {
	overflow: hidden;
	margin: 60px 0 0 5px;
	text-align: center;
	font-size: 15px;
	color: white;
	font-family: Arial, sans-serif;
}
.right a {
	float: right;
	margin:-15px 15px 0 0;
}

.lowfooter {
	margin: 70px 0 0 -50px;
}
.lowfooter pre {
	float: left;
	font-style: italic;
	color: grey;
}

.lowfooter a {
	float: right;
	text-decoration: none;
	color: grey;
	font-size: 12px;
	margin-right: 30px;
	font-family: Arial;
}

.sort {
	margin: 40px 0 0 70px;
	width: 1100px;
	height: 50px;
	border: 1px solid white;
	background-color: #ffffff;
	border-radius: 5px;

}

.sort ul li {
	display: inline-block;
	font-size: 14px;
	margin-top: 0px;
	padding: 12px;
	font-style: Arial;
}

.leftcontentfirst {
	margin: 70px 0 0 30px;
	width: 200px;
	height: 150px;
	border: 1px solid white;
	background-color: #ffffff;
	border-radius: 5px;
	display: inline-block;
}

.leftcontentfirst ul {
	list-style: none;
	padding: 10px 0 5px 10px;
}

.leftcontentfirst li {
	font-weight: bold;
	font-style: serif;
	font-size: 15px;
	margin: 10px 5px 0 0;
}

.leftcontentfirst img {
	float:right;
	margin: 10px 0 0 0;
}


.leftcontentsecond {
	width: 190px;
	height: 210px;
	margin: 70px 0px 0 30px;
	padding: 5px 5px 0 5px;
	background-color: #ffffff;
	border-radius: 5px;
}


.leftcontentsecond form input {
	margin-top: 5px;
}
.leftcontentsecond form p {
	border-bottom: 1px solid grey;
	font-family: Geneva;
}

.leftcontentsecond a {
	margin-right: : 50px;
}

.leftcontentthird {
	width: 190px;
	height: 200px;
	margin: 70px 0 0 30px;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 5px;
	font-family: Times, serif;
}

.leftcontentthird form input {
	margin-top: 5px;
}

.leftcontentthird form p {
	border-bottom: 1px solid grey;
	font-family: Geneva, serif;
}

.leftcontentfourth {
	width: 190px;
	height: 50px;
	margin: 70px 0 0 30px;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 5px;
	font-family: Times, serif;
}

.leftcontentfourth form input {
	margin: 5px 10px 0 5px;
}
.leftcontentfourth form input {
	margin: 5px 10px 0 5px;
}

.leftcontentfourth form p {
	border-bottom: 1px solid grey;
}

.centralone {
	width: 250px;
	height: 300px;
	margin: 70px 20px 0 0px;
	float: left;
	background-color: #ffffff;
	font-family: Times;
}
.centralone p {
	text-align: center;
}


.centralone .color {
	color:grey;
}
.centralone img {
	margin: 0 auto;
}
.left {
	width: 400px;
	float: left;
}

nav {
	margin: 40px 0px 50px 70px;
	width: 1120px;
	height: 50px;
	border: 1px solid white;
	background-color: #ffffff;
	border-radius: 5px;

}

nav ul li {
	display: inline-block;
	font-size: 14px;
	margin-top: 0px;
	padding: 12px;
	font-style: Arial;
	text-align: center;
	font-size: 15px;
}

nav ul a {
	text-decoration: none;
}

nav ul {
	display: inline-block;
	text-align: center;
	margin: 0 390px;
}

nav img {
	margin: 20px 5px 0 5px;
}

.best  {
	width: 1120px;
	height: 410px;
	background-color: #ffffff;
	margin: 0 0 70px 70px;
	padding-top: 10px;
}

.best .centralone {
	margin: 50px 0 0 30px;
}

.best p {
	text-align: center;
	font-size: 17px;

}
.best .centralone img {
	margin: 0 auto;
}

.best .centralone {
	text-align: center;

}

.customers {
	height: 440px;
	background-color: #ffffff;
	text-align: center;
	padding-top: 20px;
}
.customers .centralone {
	padding-left: 110px;
}
.customers p {
	margin-top: 10px;
}

h3 {
	font-size: 35px;
}

